body {
  font-size:14px;
  background-size: 100% 3px;

}


.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}



.accountListGlobal {
  color: white;
  width: 100px;
  background-color: #2e3e51;
}

.chatGlobal {
  background: white;
  padding: 20px;
  border: 1px solid #cecece;
}

.chatWindow {
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inputAreaMain {
  width: 95%;
  height: 30px;
  font-size: 17px;
  padding-left: 12px;
  border: 1px solid #cecece;
  border-radius: 6px;
  color: #444 !important;
  margin-left: 8px;
}

.rightSideGlobal {
  background: white;
  border: 1px solid #cecece;
}

.avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  font-size: 22px;
}

.avatar {

}

.message {
  line-height: 25px;
  min-height: 40px;
  white-space: normal;
  word-break: break-all;
}

.test {
  color: #c1c1c1;
}

.accountListGlobal {

}
.accountListGlobal ul li {
  padding: 4px 15px;
  padding-right: 0px;
  margin: 0;
  min-height: 30px;
  position: relative;
  cursor: pointer;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.accountListGlobal ul {
  padding: 0;
}

p:hover {
  background: #c4c4c4;
  cursor: pointer;
}